# Virtual environment
venv/
env/

# python files
*.pyc
*.pyo
*.pyd
__pychache__/

# Build directories
*.egg
*.egg-info
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
Icon?

# Environment and credentials
.env
*.key
*.pem
credentials.json
credentials.yaml

# Data and models
data/
*.csv
*.h5
*.hdf5
*.ckpt
*.pt
*.pth
*.pkl
*.log
*.npz

# IDE and editor settings
.vscode/
.idea/
*.sublime-*

# Documentation and outputs
output/
*.pdf
*.xlsx


# Configuration files
config.yaml
config.json

#
runs/